body {
    background-color: #7A8CA0;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}


header {
    height: 100px;
    padding: 0;
}

#logo {
    margin-top: 20px;
    margin-left: 60px;
    height: 50px;
    width: auto;
}

ul {
    list-style-type: none;
    padding-right: 50px;
}

nav {
    float: right;
}

header li {
    display: inline-block;
    margin: 0px 20px;
    padding: 10px 10px;
}

nav a {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

nav a:visited {
    border-bottom: 1px solid #FFFFFF;
}

nav a:hover {
    border-bottom: 1px solid  #FFFFFF;
}

h1 {
    font-size: 46px;
    text-align: center;
    margin-top: 60px;
}

p {
    margin: 30px 120px;
    font-size: 24px;
    text-align: center;
}

.column {
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 120px 120px;
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #516077;
    margin: 40px 0px;    
    padding: 40px 0px;
    border-radius: 20px;
}

h2 {
    font-size: 30px;
    margin: 0px;
}

a {
    margin: 0px;
    color: #FFFFFF;
}

.footer {
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    font-size: 12px;
    text-align: center;
    height: auto;
    margin-bottom: 20px;
}